*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


.pag1{
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: rgb(37, 7, 144);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
 
}

.digivice{
  position: relative;
  width: 40%;
  left: 28%;
  top: 10%;
 
}
.perso1{
  position: relative;
 
  width:9%;
  border-radius: 90;
  right:1%;
  top: -23%;
 
}

.fundo{
  position: absolute;
  height: 25vh;
  width: 13%;
  left: 38%;
  top: 25%;
}


h1{
    position: absolute;
    color: rgb(255, 255, 255);
    background-color: transparent;
    font-size: 500%;
    top: 20%;
    left: 13%;
}

a{
  cursor: pointer;
}

.iniciar{
  position: absolute;
  left: 40%;
  width: 8%;
  height: 17vh;
  top: 31%;
  opacity: 20%;
}



/*---------- BOTAO --------------- */


.buttons {
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 20%;
  gap: 20px;
  width: 34%;
}
.op1{
  cursor: pointer;
  position: relative;
  right: 57%;
  border-radius: 100%;
  width: 17%;
  height: 14vh;
  top: 15vh;
  background-color:transparent ;
  border: none;
}
.op1:active{
  background-color: rgb(67, 67, 199);
  opacity: 20%;
}
.op2{
  cursor: pointer;
  position: relative;
  width: 21%;
  height: 12vh;
  border-radius: 100%;
  top: 18vh;
  right: 9%;
  background-color:transparent ;
  border: none;
}
.op2:active{
  background-color: rgb(67, 67, 199);
  opacity: 20%;
}
.op3{
  cursor: pointer;
  position: relative;
  width: 20%;
  top: 0vh;
  height: 10vh;
  border-radius: 100%;
  right: 27%;
  background-color:transparent ;
  border: none;
}
.op3:active{
  background-color: rgb(67, 67, 199);
  opacity: 20%;
}
